/*font-family: 'Bree Serif', serif;
font-family: 'PT Serif', serif;*/


@media screen and (max-width: 992px) {
    body {
        background-color: blue;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: olive;
    }
}

body {
    background-color: #fffaee;
}

header {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

nav ul {
    list-style: none;
}

nav ul li {
    padding: auto;
    margin: 7px;
    color: #000000;
    font-size: 19px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-family: 'PT Serif', serif;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    clear: both;
    color: #333;
    text-align: center;
    padding: 100px 0;
    margin-top: 20px;

}

/*  HOME   */

.textohome h2 {
    padding-top: 30px;
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 36px;
}

.textohome p {
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 25px;
}

/* CARRUSEL */

.carrusel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 4%;
    /* Esto centra verticalmente en la página */
}

.carrusel {
    width: 80%;
    /* Establece el ancho del carrusel según tus necesidades */
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-slide {
    position: relative;
    text-align: center;
}

.imagen-slide img {
    max-width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 31%;
    transform: translate(-50%, -50%);
    /* Centra el overlay en la imagen */
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: 'PT Serif', serif;

 }

.shop-button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: 'PT Serif', serif;
}

.imagen-slide:hover .overlay {
    opacity: 1;
}

.imagen-slide:hover img {
    transform: scale(1.05);
}